<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TodoApp</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/css/base.css') }}"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/css/bootstrap.css') }}"
            type="text/css"
        />
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
